<!DOCTYPE html>
<html lang="en">
<head>
  <title>گزارش گیری کاربران</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../lib/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/style.css">
  <script src="../lib/jquery.min.js"></script>
  <script src="../lib/popper.min.js"></script>
  <script src="../lib/bootstrap.min.js"></script>
  <style>
    td, th {
      text-align: center;
      font-size: 12px;
      padding: 0 !important;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>کاربر</th>
              <th>مشاهدات</th>
              <th>ویرایشات</th>
              <th>ارسال به پلیس</th>
              <th>گزارشات</th>
          </tr>
          </thead>
          <tbody>
            {tbody}
          </tbody>
      </table>
    </div>

    <div class="col-sm-12">
        <div class="row" style="direction: rtl;">
            <div class="col-sm-3 usr" style="background-color: whitesmoke; text-align: center;">
                <h3>مشاهدات</h3>
                <img id="observes" src="{observes}">
            </div>
            <div class="col-sm-3 usr" style="background-color: whitesmoke; text-align: center;">
                <h3>ویرایشات</h3>
                <img id="edits" src="{edits}">
            </div>
            <div class="col-sm-3 usr" style="background-color: whitesmoke; text-align: center;">
                <h3>ارسال به پلیس</h3>
                <img id="sents" src="{sents}">
            </div>
            <div class="col-sm-3 usr" style="background-color: whitesmoke; text-align: center;">
                <h3>گزارشات</h3>
                <img id="reports" src="{reports}">
            </div>
        </div>
    </div>

  </div>
</div>

<script>

</script>
</body>
</html>
