<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="PIXINVENT">
    <title>ثبت تخلف</title>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css-rtl/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css-rtl/bootstrap-extended.css">
    <link rel='stylesheet' type="text/css" href='../app-assets/css-rtl/owl.carousel.min.css'>
    <link rel="stylesheet" type="text/css" href="../app-assets/css-rtl/components.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css-rtl/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/css-rtl/custom-rtl.css">
    <link type="text/css" rel="stylesheet" href="../app-assets/css-rtl/datetimepicker.min.css" />
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  todo-application"
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <script>
        function submitDashboard() {
          document.getElementById('indexForm').submit();
        }

        function submitSta() {
          document.getElementById('staForm').submit();
        } 

        function submitConfig() {
          document.getElementById('configForm').submit();
        }
        </script>

        <form id="indexForm" method="POST" action="index.php">
            <input name="username" style="display: none;" value="{username}" />
            <input name="password" style="display: none;" value="{password}" />
            <input name="usergrup" style="display: none;" value="{usergrup}" />
            <input name="time" style="display: none;" value="{time}" />
        </form>

        <form id="staForm" method="POST" action="statistics.php">
          <input name="username" style="display: none;" value="{username}" />
          <input name="password" style="display: none;" value="{password}" />
          <input name="usergrup" style="display: none;" value="{usergrup}" />
          <input name="time" style="display: none;" value="{time}" />
        </form>

        <form id="configForm" method="POST" action="configuration.php">
          <input name="username" style="display: none;" value="{username}" />
          <input name="password" style="display: none;" value="{password}" />
          <input name="usergrup" style="display: none;" value="{usergrup}" />
          <input name="time" style="display: none;" value="{time}" />
        </form>

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a
                                    class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                        class="ficon feather icon-menu"></i></a></li>
                            <li>
                                <span>ثبت تخلف</span>
                            </li>
                        </ul>




                    </div>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-user nav-item">

                            <div class="user-nav d-sm-flex d-none">
                                <a href="#" class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
                                    <div class="user-nav d-sm-flex d-none">
                                        <span class="user-name">{username}
                                        </span></div>
                                    <div class="user-icon">
                                        <i class="feather icon-user"></i>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <p class="dropdown-item">
                                        <i class="feather icon-clock
                                        "></i>

                                        {time} زمان ورود به سیستم
                                    </p>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="index.php"><i class="feather icon-power"></i>
                                        خروج از سیستم</a>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="/">
                        <img src="../app-assets/images/logo/logo.png" alt="">
                        <h2 class="brand-text mb-0">سامانه مانیتورینگ و تجمیع داده</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                            class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


                <li class=" nav-item "><a onclick="submitDashboard()"><i class="feather  icon-home"></i><span class="menu-title"
                            data-i18n="Email">داشبورد</span></a>
                </li>
                <li class=" nav-item active"><a href="edit.html"><i class="feather icon-edit-1"></i><span
                            class="menu-title" data-i18n="Chat">ثبت تخلف</span></a>
                </li>
                <li class=" nav-item"><a href="statistics.html"><i class="feather icon-bar-chart-2"></i><span
                            class="menu-title" data-i18n="Todo">آمار</span></a>
                </li>
                <li class=" nav-item"><a href="report.html"><i class="feather icon-clipboard"></i><span
                            class="menu-title" data-i18n="Calender">گزارش</span></a>
                </li>
                <li class=" nav-item"><a href="setting.html"><i class="feather icon-settings"></i><span
                            class="menu-title" data-i18n="Calender">تنظیمات</span></a>
                </li>


            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Start -->
                <section id="edit-page" class="bootstrap-select">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="dflex">
                                <span class="title">
                                    فیلتر
                                </span>
                                <span class="openbox">
                                    <i class="feather icon-chevrons-down"></i>
                                </span>
                            </div>

                            <div class="card" id="myDIV2">

                                <div class="card-body">
                                        <div class="form-group">

                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right dflex">
                                                <label for="first-name-vertical">کاربر :</label>

                                                <input id="user" type="text" class="form-control fyekan" id="readonlyInput" readonly="readonly" value="{username}" id="user" name="user">
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right dflex">
                                                <label for="first-name-vertical">از تاریخ :</label>
                                                <input type="text" id="startDate" class="pCalender" autocomplete="off">

                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right mtime dflex">
                                                <label for="first-name-vertical">از ساعت :</label>
                                                <input class="form-control" type="text" id="startTime"
                                                    name="timepicker" placeholder="زمان را وارد کنید " />
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right dflex">
                                                <label for="first-name-vertical">دوربین ها :</label>

                                                <select id="cameras" class="form-control input-sm select2-multiple" multiple>

                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right dflex">
                                                <label for="first-name-vertical">تا تاریخ :</label>
                                                <input type="text" id="endDate" class="pCalender" autocomplete="off">


                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right mt  mtime dflex">
                                                <label for="first-name-vertical">تا ساعت :</label>

                                                <input class="form-control" type="text" id="endTime"
                                                    name="timepicker" placeholder="زمان را وارد کنید " />


                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-6 col-md-12 col-sm-12 float-right dflex">


                                                <label for="first-name-vertical">سرعت :</label>


                                                <div class="col-lg-10 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <!-- Start noUiSlider -->
                                                            <div id="connectedSlider">
                                                            </div>
                                                            <!-- End noUiSlider -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 float-right dflex">


                                                <label for="first-name-vertical">دقت :</label>


                                                <div class="col-lg-10 col-md-12 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <!-- Start noUiSlider -->
                                                            <div id="connectedSlider2">
                                                            </div>
                                                            <!-- End noUiSlider -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-lg-5 col-md-6 col-sm-12 float-left dflex ">
                                                <label for="first-name-vertical">نوع ماشین :</label>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="light" id="light">
                                                    <label class="custom-control-label" for="light">سبک</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="heavy" id="heavy">
                                                    <label class="custom-control-label" for="heavy">سنگین</label>
                                                </div>
                                        
                                            </div>
                                            <div class="offset-md-1">
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 float-right dflex offset-md-2">
                                                <label for="first-name-vertical">لاین:</label>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="lane1" id="lane1">
                                                    <label class="custom-control-label" for="lane1">1</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="lane2" id="lane2">
                                                    <label class="custom-control-label" for="lane2">2</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="lane3" id="lane3">
                                                    <label class="custom-control-label" for="lane3">3</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked="" name="lane4" id="lane4">

                                                    <label class="custom-control-label" for="lane4">4</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="center">
                                            <button onclick="submit()" class="fyekan btn bg-gradient-success mr-1 mb-1 waves-effect waves-light w1">اعمال فیلتر</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="title">
                                نتایج
                            </span>
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-lg-6 col-md-6 col-sm-12 float-left ">
                                        <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                            <!--Slides-->
                                            <div class="carousel-inner" role="listbox">
                                                <!--First slide-->
                                                <div class="carousel-item active">
                                                    <img id="primaryImg" class="d-block w-100" src="./views/imgs/No Image.png"  width="700" height="520">
                                                </div>
                                                <!--/First slide-->
                                            </div>

                                            <a onclick="change('p')" class="carousel-control-prev" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                            </a>
                                            <a onclick="change('n')" class="carousel-control-next" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                            </a>
                                            <!--/.Controls-->
                                        </div>

                                        <p class="owlnum"><span>شماره تصویر:</span> <span id="counterOf" dir="ltr">4 / 200</span> </p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 float-right ">
                                        <div class="form-group">
                                            <img src="./views/imgs/No Tag.png" id="pelakImg" style="width: 200px; height: 60px;" alt="">
                                        </div>
                                            <div class="form-group editInput">
                                                <div class="input-group border-group">
                                                    <div class="edit-input-inner w25">
                                                        <span><img src="../app-assets/images/pages/iran.jpg"
                                                                alt=""></span>
                                                        <input  type="number" maxlength="2"
                                                            class="form-control justNum" id="boxNumber4" required value="" 
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                             pattern="[0-9]{2}"
                                                            >
                                                            <div class="invalid-tooltip">
                                                                لطفا فیلد را پر کنید
                                                              </div>
                                                    </div>

                                                    <input type="number" class="form-control w25 justNum" id="boxNumber3" required
                                                        value=""  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                         maxlength="3" oninvalid="setCustomValidity('فیلد را پر کنید')" >
                                                         <div class="invalid-tooltip">
                                                            لطفا فیلد را پر کنید
                                                        </div>
                                                    <input type="text" class="form-control w25" id="boxNumber2"  required
                                                           maxlength="1" value="" 
                                                             oninvalid="setCustomValidity('فیلد را تنها با حرف  پر کنید')"> 

                                                    <div class="edit-input-inner w25 df">
                                                        <input type="number" class="form-control justNum" id="boxNumber1" required
                                                            value=""   
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            maxlength="2"   >
                                                            <div class="invalid-tooltip">
                                                                لطفا فیلد را پر کنید
                                                              </div>
                                                        <span><img src="../app-assets/images/pages/code.jpg" class="br"
                                                                alt=""></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group btn-record">

                                                <button type="submit" id="myButton" onclick="edit()"
                                                    class="btn btn-outline-primary mb-1 waves-effect waves-light">ویرایش</button>
                                                <button type="button" onclick="deleteRec()"
                                                    class="btn btn-outline-danger  mb-1 waves-effect waves-light">حذف</button>



                                            </div>
                                            <div class="form-group btn-record">

                                                <button id="btnPolice" type="button" class="btn btn-outline-success mb-1 waves-effect waves-light">ارسال
                                                    به
                                                    پلیس</button>
                                            </div>
                                        <hr>
                                        <div class="form-group">
                                                <span class="title">
                                                    گزارش رکورد
                                                </span>
                                                <div class="btn-record2">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="پلاک کم نور" name="customRadio" id="li1" checked="">
                                                        <label class="custom-control-label" for="li1">
                                                            پلاک کم نور
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="پلاک پر نور" name="customRadio" id="li2" checked="">
                                                        <label class="custom-control-label" for="li2">پلاک پر نور
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="تصویر پر نور" name="customRadio" id="mcustomRadio1" checked="">
                                                        <label class="custom-control-label" for="mcustomRadio1">
                                                            تصویر پر نور</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="تصویر کم نور" name="customRadio" id="li3" checked="">
                                                        <label class="custom-control-label" for="li3">تصویر کم نور
                                                        </label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="پلاک ناواضح" name="customRadio" id="li4" checked="">
                                                        <label class="custom-control-label" for="li4">پلاک ناواضح
                                                            </label>
                                                    </div>

                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" status="موارد دیگر" name="customRadio" id="li5" checked="">
                                                        <label class="custom-control-label" for="li5">موارد
                                                            دیگر</label>
                                                    </div>

                                                </div>
                                                <button type="submit" onclick="reportRec()" class="btn btn-outline-danger  mb-1 waves-effect waves-light editbtn">ارسال</button>
                                        </div>

                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 float-left ">
                                        <hr>

                                        <div class="form-group">
                                            <div class="table-responsive">
                                                <table class="table table-striped mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">رکورد</th>
                                                            <th scope="col">شناسه دوربین</th>
                                                            <th scope="col">زمان</th>
                                                            <th scope="col">لاین</th>
                                                            <th scope="col">سرعت </th>
                                                            <th scope="col">دقت </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td id="TDrecordID"></td>
                                                            <td id="TDcameraID"></td>
                                                            <td dir="ltr" id="TDpassedTime" style="display: none;"></td>
                                                            <td dir="ltr" id="TDpassedTimeShow"></td>
                                                            <td id="TDlane"></td>
                                                            <td id="TDspeed"></td>
                                                            <td id="TDacc"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Dashboard end -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span
                class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2020<a
                    class="text-bold-800 grey darken-2" href="#" target="_blank">Konect,</a>All rights Reserved</span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i
                    class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->


    <script src="../app-assets/vendors/js/vendors.min.js"></script>
    <script src='../app-assets/js/scripts/jquery_2.1.3_jquery.min.js'></script>
    <script src='../app-assets/js/scripts/owl.carousel.min.js'></script>
    <script src="../app-assets/js/scripts/app-menu.js"></script>
    <script src="../app-assets/js/scripts/app.js"></script>
    <script src="../app-assets/js/scripts/dashboard-analytics.js"></script>
    <script src='../app-assets/js/scripts/pages/nouislider.min.js'></script>
    <script src='../app-assets/js/scripts/jquery-ui.min.js'></script>
    <!--socket io-->
    <script src="./lib/socket.io.js" integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>

    <script>
        $(".owl-carousel").owlCarousel({
            margin: 10,
            loop: true,
            dots: false,
            nav: true,
            items: 1
        });
        (function () {
            var connectedSlider, connectedSlider2;

            updateSliderValue = function (slider, handle = 0) {
                var children, i, results, val, values;
                children = slider.getElementsByClassName('noUi-handle');
                values = slider.noUiSlider.get();
                i = 0;
                results = [];
                while (i < children.length) {
                    if (children.length === 1) {
                        val = parseInt(values);
                    } else {
                        val = parseInt(values[i]);
                    }
                    children[i].dataset.value = val;
                    results.push(i++);
                }
                return results;
            };



            // The Connected Slider Control
            connectedSlider = document.getElementById('connectedSlider');

            noUiSlider.create(connectedSlider, {
                animationDuration: 300,
                start: [70, 250],
                step: 1,
                connect: true,
                range: {
                    'min': 1,
                    'max': 250
                }
            });

            connectedSlider.noUiSlider.on('update', function () {
                return updateSliderValue(connectedSlider);
            });

            // The Connected Slider Control
            connectedSlider2 = document.getElementById('connectedSlider2');

            noUiSlider.create(connectedSlider2, {
                animationDuration: 300,
                start: [0, 100],
                step: 1,
                connect: true,
                range: {
                    'min': 1,
                    'max': 100
                }
            });

            connectedSlider2.noUiSlider.on('update', function () {
                return updateSliderValue(connectedSlider2);
            });
        }).call(this);
    </script>

    <script src='../app-assets/js/scripts/select2.full.min.js'></script>
    <script>
        $(".select2-multiple").select2({
            theme: "bootstrap",
            containerCssClass: ':all:'
        });


        function formatText(icon) {
            return $('<span><i class="fa ' + $(icon.element).data('icon') + '"></i> ' + icon.text + '</span>');
        };

        $('.select2-multiple').select2({
            width: "50%",
            templateSelection: formatText,
            templateResult: formatText
        })
    </script>
    <!-- calander -->
    <script src="../app-assets/js/scripts/kamadatepicker.js"></script>



    <!-- time -->
    <script src="../app-assets/js/scripts/moment.min.js"></script>
    <script type="text/javascript" src="../app-assets/js/scripts/datetimepicker.min.js"></script>

    <script>
        $(function () {


            /* setting time */
            $("#startTime").datetimepicker({
                format: "HH:mm"

            });
            $("#endTime").datetimepicker({
                format: "HH:mm"

            });
            $(".openbox").click(function () {
                $("#myDIV2").toggle();
                $(".openbox i").toggleClass("icon-chevrons-up");
            });

        });
    </script>



    <!-- چک کردن کامل پلاک -->
    <script src="../app-assets/js/scripts/jquery.farsiInput.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#farsiIn").farsiInput();
        });
     
        $('#farsiIn').keydown(function (e) {
            var node = $(this);
    var val = node.val();
    if (e.ctrlKey || e.altKey & val.length >= 0) {
           e.preventDefault();
           return false;
    } else {
           var key = e.keyCode;
           if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                e.preventDefault();
           }
           node.val( val.substr(1,1) )
    }   
});

$(function () {
     $("#farsiIn").charReplacer({ replaceChar: 'ا', replaceWith: 'الف' });
     $(".justNum").charReplacer({ replaceChar: '-', replaceWith: '1' });
     });
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

<script src="./views/scripts/displayScript.js"></script>
<!-- <script src="./views/scripts/cameraRefresh.js"></script> -->
<script>

        var customOptions = {
            placeholder: "روز / ماه / سال",
            twodigit: false,
            closeAfterSelect: false,
            nextButtonIcon: "fa fa-arrow-circle-right",
            previousButtonIcon: "fa fa-arrow-circle-left",
            buttonsColor: "blue",
            forceFarsiDigits: true,
            markToday: true,
            markHolidays: true,
            highlightSelectedDay: true,
            sync: true,
            gotoToday: true,
            closeAfterSelect: true
        }
        kamaDatepicker('startDate', customOptions);
        kamaDatepicker('endDate', customOptions);

        var startDate = getNPassedDate(1);
        var stopDate = getCurrentDate();
        var startTime = getCurrentTime();
        var stopTime = getCurrentTime();
        document.getElementById("startDate").value = startDate;
        document.getElementById("endDate").value = stopDate;
        document.getElementById("startTime").value = startTime;
        document.getElementById("endTime").value = stopTime;
</script>

</body>


</html>